/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Kanit:wght@400;500;600;700&display=swap");
$clr-light: rgb(243, 243, 243);
$clr-grayL: rgb(227, 226, 226);
$clr-grayD: rgb(141, 143, 145);
$clr-grayT: rgba(227, 226, 226, 0.4);
$clr-dark: rgb(44, 43, 43);
$clr-primary: rgb(1, 77, 241);
$clr-bg: rgba(243, 243, 243, 0.35);

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  color: $clr-dark;
}

body {
  height: 100vh;
  width: auto;
  background-image: url(../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* MODAL */
.modal {
  width: clamp(500px, 80%, 1000px);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: $clr-bg;
  border: 1px solid $clr-grayT;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.modal__left {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo__img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}

.modal__right {
  height: 100%;
  width: 75%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 15px;
  position: relative;
  z-index: 1;
  .header {
    color: $clr-light;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.2;
    position: relative;
    z-index: 3;
  }
  .accent-bar {
    position: absolute;
    top: 28px;
    left: -30px;
    height: 60px;
    width: 55%;
    transform: rotate(-2deg);
    background-color: $clr-primary;
    z-index: 2;
  }
  .text {
    font-size: 0.9rem;
  }
  .form-container {
    height: 65%;
    width: 100%;
    background-color: $clr-grayT;
    padding: 15px 20px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;
      .form__title {
        margin: 10px 0px;
        font-weight: 300;
      }
      .form__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .form__input-group {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .form__input {
            width: 100%;
            padding: 12px 10px;
            font-size: 1rem;
            color: $clr-dark;
            background-color: $clr-light;
            border: none;
          }
          .form__label {
            display: none;
          }
        }
      }
      .submit-row {
        justify-content: flex-start;
        .btn-submit {
          background-color: $clr-primary;
          color: $clr-light;
          margin: 10px 0px;
          border: none;
          padding: 10px 12px;
          font-size: 1rem;
          box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
            0 8px 8px hsl(0deg 0% 0% / 0.075),
            0 16px 16px hsl(0deg 0% 0% / 0.075);
          &:hover {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  .login {
    font-size: 0.9rem;
    a {
      color: $clr-primary;
    }
  }
}

/* FOOTER */
.footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $clr-light;
  font-size: 0.9rem;
  i {
    font-size: 0.9rem;
    color: $clr-light;
  }
}
